:root {
  /* PRIMARY COLORS */
  --red: #ff7a7afb;
  --green: #38cc8c;
  /* ACCENT COLORS */
  --blue: #6055a5;
  /* NEUTRAL COLORS */
  --dark-blue: #3e3c49;
  --grayish-blue: #b9b6d3;

  --regular-fs: 0.875rem;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: var(--red);
  background-image: url(./images/bg-intro-desktop.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    background-image: url(./images/bg-intro-mobile.png);
  }
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.core {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.125rem;
  margin: 0 auto;
  width: 56.25rem;
  min-height: 100vh;
}
@media (max-width: 768px) {
  .core {
    flex-direction: column;
    width: 25rem;
    gap: 2.5rem;
  }
}

.core .text-side {
  flex-basis: 50%;
  color: #fff;
}
@media (max-width: 768px) {
  .core .text-side {
    text-align: center;
  }
}

.core .text-side h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin: 0;
}

@media (max-width: 768px) {
  .core .text-side h1 {
    font-size: 2rem;
  }
}

.core .text-side p {
  margin: 1.5rem 0 0 0;
  font-size: var(--regular-fs);
}

.core .form-side {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  gap: 1.25rem;
}
.core .form-side .ad {
  text-align: center;
  width: 100%;
  padding: 0.75rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 5px;
  background-color: var(--blue);
  color: #fff;
  box-shadow: 0px 6px 0px #00000030;
}

.core .form-side .ad p {
  margin: 0;
}

.core .form-side .ad span {
  font-weight: 700;
}

.core .form-side .form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.875rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 6px 0px #00000030;
}

.core .form-side .form-container input {
  padding: 0.8125rem 1.5625rem;
  border: 1px solid;
  border-color: var(--grayish-blue);
  border-radius: 5px;
  font-weight: 600;
  font-family: inherit;
  width: 100%;
  margin-bottom: 1.25rem;
}

input:not(input[type="submit"]) ~ p {
  position: relative;
  right: 0;
  bottom: 0.8125rem;
  font-style: italic;
  font-size: 0.6875rem;
  color: var(--red);
  text-align: right;
  font-weight: 500;
  margin: 0;
}

.core .form-side .form-container input[type="submit"] {
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background-color: var(--green);
  letter-spacing: 0.8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #33b77d;
  cursor: pointer;
  font-family: inherit;
  transition: 0.3s;
}

.core .form-side .form-container input[type="submit"]:hover {
  background-color: #68cfa3;
  box-shadow: 0px 4px 0px #70b194;
}

form ~ p {
  text-align: center;
  font-size: 0.625rem;
  font-weight: 500;
  color: var(--grayish-blue);
}

form ~ p span {
  text-decoration: none;
  font-size: 0.6875rem;
  font-weight: 700;
  color: var(--red);
}

footer {
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  font-size: var(--regular-fs);
  text-decoration: none;
  color: #fff;
}

footer p {
  margin: 0;
}

footer a {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
}

.there {
  display: block;
}

.not-there {
  display: none;
}

.invalid {
  outline: 2px solid var(--red);
}

.valid {
  outline: 2px solid var(--green);
}

.normal {
  outline: none;
}
